[Unit]
Description=deployer

[Service]
User=pi
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/code/deployer/deployer
WorkingDirectory=/home/pi/code/deployer/

[Install]
WantedBy=multi-user.target