[Unit]
Description=deployer

[Service]
User=root
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -c '/usr/local/go/bin/go build'
ExecStart=/root/code/deployer/deployer
WorkingDirectory=/root/code/deployer/

[Install]
WantedBy=multi-user.target
